Northwind.accdb.src/tbldefs/Products.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Products" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Products">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc"></od:index>
        <od:index index-name="Product Code" index-key="Product_x0020_Code " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
        <od:tableProperty name="TotalsRow" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="WSSTemplateID" type="3" value="120"></od:tableProperty>
        <od:tableProperty name="SubdatasheetName" type="10" value="Table.Suppliers"></od:tableProperty>
        <od:tableProperty name="LinkChildFields" type="10" value="ID"></od:tableProperty>
        <od:tableProperty name="LinkMasterFields" type="10" value="ID"></od:tableProperty>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"></od:tableProperty>
        <od:tableProperty name="StarColumnHidden" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="HideNewField" type="1" value="0"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Supplier_x0020_IDs" minOccurs="0" od:jetType="complex" od:jetComplexType="MSysComplexType_Long" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidth" type="3" value="2430"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="111"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="RowSource" type="12" value="SELECT [ID], [Company] FROM [Suppliers Extended] ORDER BY [Company];"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="2"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1440"></od:fieldProperty>
              <od:fieldProperty name="ListRows" type="3" value="16"></od:fieldProperty>
              <od:fieldProperty name="ListWidth" type="10" value="1440twip"></od:fieldProperty>
              <od:fieldProperty name="LimitToList" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Value" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"></xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="585"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="WSSFieldID" type="10" value="ID"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Product_x0020_Code" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1635"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="2"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="25"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Product_x0020_Name" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="4035"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Description" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1455"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextFormat" type="2" value="1"></od:fieldProperty>
              <od:fieldProperty name="AppendOnly" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="WSSFieldID" type="10" value="Comment"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="536870910"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Standard_x0020_Cost" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1665"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;($#,##0.00)"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="List_x0020_Price" minOccurs="1" od:jetType="currency" od:sqlSType="money" od:nonNullable="yes" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1170"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;($#,##0.00)"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Reorder_x0020_Level" minOccurs="0" od:jetType="integer" od:sqlSType="smallint" type="xsd:short">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1335"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Inventory quantity that triggers reordering"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Target_x0020_Level" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1650"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Desired Inventory level after a purchase reorder"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Quantity_x0020_Per_x0020_Unit" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2325"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ListRows" type="3" value="15"></od:fieldProperty>
              <od:fieldProperty name="ListWidth" type="10" value="0twip"></od:fieldProperty>
              <od:fieldProperty name="LimitToList" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Discontinued" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="No"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Minimum_x0020_Reorder_x0020_Quantity" minOccurs="0" od:jetType="integer" od:sqlSType="smallint" type="xsd:short">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2970"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Category" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2655"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="111"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="WSSFieldID" type="10" value="Category"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Value List"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="RowSource" type="12" value="Baked Goods &amp; Mixes;Beverages;Candy;Canned Fruit &amp; Vegetables;Canned Meat;Cereal;Chips;Snacks;Condiments;Dairy Products;Dried Fruit &amp; Nuts;Grains;Jams;Preserves;Oil;Pasta;Sauces;Soups"></od:fieldProperty>
              <od:fieldProperty name="LimitToList" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ListRows" type="3" value="16"></od:fieldProperty>
              <od:fieldProperty name="ListWidth" type="10" value="0twip"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Attachments" minOccurs="0" od:jetType="complex" od:jetComplexType="MSysComplexType_Attachment" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="126"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="WSSFieldID" type="10" value="Attachments"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FileData" minOccurs="0" od:jetType="oleobject" od:sqlSType="image">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:base64Binary">
                    <xsd:maxLength value="1476395008"></xsd:maxLength>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FileFlags" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"></xsd:element>
              <xsd:element name="FileName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"></xsd:maxLength>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FileTimeStamp" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime"></xsd:element>
              <xsd:element name="FileType" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"></xsd:maxLength>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FileURL" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="536870910"></xsd:maxLength>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
