Northwind.accdb.src/tbldefs/Sales Reports.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Sales_x0020_Reports" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Sales_x0020_Reports">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="PrimaryKey" index-key="Group_x0020_By " primary="yes" unique="yes" clustered="no" order="asc"></od:index>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
        <od:tableProperty name="TotalsRow" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"></od:tableProperty>
        <od:tableProperty name="WSSTemplateID" type="3" value="120"></od:tableProperty>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"></od:tableProperty>
        <od:tableProperty name="HideNewField" type="1" value="0"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Group_x0020_By" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1605"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Display" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Title" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1905"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="WSSFieldID" type="10" value="Title"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Filter_x0020_Row_x0020_Source" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="8835"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextFormat" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AppendOnly" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="536870910"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Default" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="No"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
